@font-face{
    font-family:space-mono;
    src: url(resources/Fonts/SpaceMono-Bold.ttf);
}

@font-face{
    font-family:tech-mono;
    src: url(resources/Fonts/ShareTechMono-Regular.ttf);
}



body *{
    padding: 0px;
    margin: 0px;
    background-color:#222 ;
    font-family: tech-mono;
    overflow: hidden;

}


#body{
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 0.5fr 5fr 0.5fr;
    position: fixed;
}
#content-principal{
    display: grid;
    justify-content: center;
}
#cabecera{
    text-align: end;
    height: max-content;
    
}





#titulo{
    padding: 0;
    margin-left: 5%;
}

#titulo h1{
color: #888;
font-size: 4em;
}

#titulo h2{
    color: white;
    
}

#menu{
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

#menu ul{
    display: block;
    text-decoration: none;
    list-style: none;
    margin-right: 5px;
    margin-top: 10px;
    
}

#menu li{
    display: inline;
    color: white;
    font-size: 20px;
    padding-right: 15px;
    
}



#menu li a{
    color: white;
    text-decoration: none; 
}

.home a{
    font-size: 25px;
    font-weight: bold;
    text-shadow: 1px 1px 1px white;
}

/*EFECTOS*/

#menu li a:hover{
    text-shadow: 1px 1px 1px white;
    font-size: 25px;
}
/*FIN EFECTOS*/



footer{
    color: white;
    width: 100%;
    text-align: center;
    margin-top: 18px;
}

footer p{
    margin-top: 35px;
}


h2{
    color: #888;
    text-align: center;
}

h3{
    color: white;
}

form{
    margin-top: 100px;
    
}

#formulario{
    display: flex; 
    flex-direction: column; 
    align-items: center;
   
    
}

label{
    color: white;
}

input{
    width: 300px;
    height: 40px;
    background:rgb(202, 200, 200) ;
    font-size: 20px;
    border-radius: 5px;
}

input:hover{
    cursor: pointer;
    box-shadow: 4px 4px 4px #43aebf;
}

input:focus{
    background: #43aebf;
}



.boton_form{
    text-decoration: none;
    width: 80px;
    height: 40px;
    text-align: center;
    margin: 0% 45% 0 45%;
    color: black;
    background-color: whitesmoke;
    justify-content: center;
    border-radius: 10px;
    padding-top: 4px;
    transition: 0.5s;
    margin-bottom: 5px;
}

 .boton_form:hover{
    box-shadow: 2px 2px 15px 0 #43aebf
}

legend{
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: bold;
    color: #888888;
}