@font-face{
    font-family:space-mono;
    src: url(resources/Fonts/SpaceMono-Bold.ttf);
}

@font-face{
    font-family:tech-mono;
    src: url(resources/Fonts/ShareTechMono-Regular.ttf);
}



body *{
    padding: 0px;
    margin: 0px;
    background-color:#222 ;
    font-family: tech-mono;
    overflow: hidden;

}


#body{
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 0.5fr  5fr 0.5fr;
    position: fixed;
}
#content-principal{
    display: grid;
    justify-content: center;
    grid-template-rows: 1fr 5fr;
}
#cabecera{
    text-align: end;
    height: max-content;
    
}





#titulo{
    padding: 0;
    margin-left: 5%;
    
}

#titulo h2{
color: #888;
font-size: 3em;
text-align: left;
}

#titulo h3{
    color: white;
    text-align: left;
    
}

#menu{
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

#menu ul{
    display: block;
    text-decoration: none;
    list-style: none;
    margin-right: 5px;
    margin-top: 10px;
    
}

#menu li{
    display: inline;
    color: white;
    font-size: 20px;
    padding-right: 15px;
    
}



#menu li a{
    color: white;
    text-decoration: none; 
}

.home a{
    font-size: 25px;
    font-weight: bold;
    text-shadow: 1px 1px 1px white;
}

/*EFECTOS*/

#menu li a:hover{
    text-shadow: 1px 1px 1px white;
    font-size: 25px;
}




/*FIN EFECTOS*/



footer{
    color: white;
    width: 100%;
    text-align: center;
    margin-top: 18px;
}

footer p{
    margin-top: 35px;
}





/*Estilos tabla*/





table {
    margin: 0 25% 0 25%;
    height: 50%;
    width: 50%;
    border-collapse:collapse;
    padding:5px;
    box-shadow: 3px 3px 4px #888;
    border-radius: 5px;
}

table tr {
padding: 5px;
border:2px #888;;
}

table th {
    
    font-size: 2em;
    padding:5px;
    background: black;
    color: white;
}
table td {
    
    text-align:center;
    padding:5px;
    background: black;
    color: white;
    border:2px #888;
}


li{
    background:black ;
}

.impar{
    color: #888;
}